@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  /* background-color: #f4f3f2; */
}
.navbut:hover{
  background-color: #616185;
}

.joinbut{
  background-color: #455a63;
}
.ratediv{
  background-color: #4a517e;
}
.highlight{
  background-color: #ebce41;
  position: relative;
  
}
html {
  scroll-behavior: smooth;
}
.mainland{
  height: 100vh;
  background-color: #f1e0e0;
  background-image: url("../src/images/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainland2{
  height: 100vh;
  background-color: #f1e0e0;
  background-image: url("../src/images/back4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainland3{
  /* height: 100vh; */
  background-color: #f1e0e0;
  background-image: url("../src/images/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.mainland4{
  /* height: 100vh; */
  background-color: #f1e0e0;
  background-image: url("../src/images/back7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.profile-teacher{
  /* height: 100vh; */
  background-color: #f1e0e0;
  background-image: url("../src/images/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#feat{
  height: 120vh;
  background-color: #ede1d5;
  /* background:linear-gradient(to right,rgb(0 0 0 / 0.5),rgb(0 0 0 / 0.5)) , url("../src/images/back3.jpg"); */
  background-image: url("../src/images/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.signteach{
  height: 100vh;
  background-color: #f1e0e0;
  background-image: url("../src/images/back5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.signstud{
  height: 100vh;
  background-color: #f1e0e0;
  background-image: url("../src/images/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wel-teach{
  height: 100vh;
  background-color: #f1e0e0;
  background-image: url("../src/images/back10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.accept{
  min-height: 100vh;
  height: auto;
  /* background-color: #141033; */
  background-image: url("../src/images/back11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.chat-box{
  /* height: 100vh; */
  /* background-color: #141033; */
  background:linear-gradient(to right,rgb(0 0 0 / 0.5),rgb(0 0 0 / 0.5)) , url("../src/images/chat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter:0.5;
  
}
.delay{
  opacity: 0;
}
.delay-content {
  opacity: 1;
  transition-delay: 1.5s; /* Adjust the delay time as needed */
}
.teach-form{
  background-color: #193065;
  /* opacity: 1; */
}
.accountType{
  /* color: #3c4266; */
}
.modalSubmit{
  background-color: #3c4266;
}
.user{
  background-color: #f4aea0;
}
.dash{
  background-color: #fcfdfc;
}
.App {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid ;
  /* width: 80%; */
  height: 200px;
}
.doubts{
  background-color: #414163;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
.div-land{
  transition: 0.8s;
  opacity: 0.9;
  background-color: #c29d95;
  /* background-color: #47565c; */
}
.imgi{
  height: 100%;
  background-color: #DBCBD8;
}
.example .content {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example:hover .content {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.example:hover .dimg{
  transition: 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0.4;
  /* backdrop-filter: #000; */
  background: #564787;
}
.doubtstud{
  height: 100vh;
  /* background-color: #141033; */
  /* background:linear-gradient(to right,rgba(75, 73, 73, 0.5),rgba(33, 31, 31, 0.5)) , url("../src/images/back7.jpg"); */
  background-image:url("../src/images/back7.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.demo{
  height: 100vh;
  background-image:url("../src/images/back7.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.avail{
  height: 100vh;
  width: 100vw;
  background-image:url("../src/images/back11.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.notAvail{
  height: 100vh;
  background: linear-gradient(to right ,rgba(215, 216, 216, 0.5),rgba(168, 168, 169, 0.5) ), url("../src/images/noTeach.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.doubtForm{
  height: 100vh;
  background-image:url("../src/images/back2.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.chat-nav{
  display: none;
}
.login{
  height: 100vh;
  background-image:url("../src/images/back5.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.click-div {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.click-div.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
/* .shownav{
  display: none;
} */

@media  screen and (max-width: 650px){
  body, html{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}
.menu{
  display: flex;
  align-items: center;
  padding-right: 1rem;
  transition:  300ms linear;
}
.login-form{
  width: 90%;
}
.nav{
  display: none;
}
.nav-first{
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  width: 15%;
}
.temp{
  display: none;
}
.shownav{
  display: block;
  position: absolute;
  backface-visibility: hidden;
  z-index: 99999;
  /* overflow: hidden; */
}
.teach-form{
  width: 80%;
  margin-top: 30%;
  height: auto auto;
}
/* landing mobile1 */
/* land 1st part */
.land-1{
  display: flex;
  padding: 0;
  width: 100%;
  /* flex-direction: column; */
}
.l1div{
  width: 100%;
  height: 100%;
}
.l1in{
  width: 90%;
}
.l1div h1{
  font-size: 3rem;
  width: 100%;
}
.l2div{
  display: none;
  position: absolute;
  top: 30%;
  /* display: none; */
  width: 100%;
  opacity: 0.4;
}
/* land 1st part end */
/* land 2nd part */
.mainland3{
  /* height: 100vh; */
  background-image: url("../src/images/back1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}
.l21div{
  display: none;
  position: absolute;
  width: 100%;
  opacity: 0.4;
}
.l22div{
  /* height: 100%; */
  width: 100%;
}
.l22div div{
  width: 90%;
}
/* land 2nd part end*/
/* land 3nd part */
.l31div{
  width: 100%;
}
.l31div div{
  width: 90%;
}
.l32div{
  display: none;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  /* top: 1px; */
}
.lottie-land{
  position: absolute;
  top: 15rem;
}
.click-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.click-div div{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* land 3nd part end*/

/* sign in */
.signteach{
  /* min-height: 120vh;
  height: auto; */
  min-height: 150vh;
  height: auto;
  background-image: url("../src/images/back5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login-main{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.log-in{
  margin-top: 1rem;
}
/* sign in end*/
/* (demo) teachdash */
.demo-div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}
.demo-div div{
  width: 100%;
  
}
.demo{
  height: 100vh
}
/* (demo) teachdash end*/

.nameEmail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile-teacher h1{
  text-align: center;
}
.choices{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  */
.table{
  width: 95%;
  overflow-x: auto;
}
.accept h1{
  text-align: center;
}
/* teach-land */
.teach-land{
  display: flex;
  flex-direction: column;
}
.teach-land div{
  width: 100%;
}
.demo{
  height: auto;
  padding-bottom: 3rem;
}
/* doubt accept */
.table{
  width: 20rem;
}
.doubt-accept .accept{
  height: auto;
}
.nodoubt{
  text-align: center;
}
/* stud-dash */
.stud-dash{
  display: flex;
  flex-direction: column;
  
}
.doubtstud{
  height: auto;
  padding-bottom: 2rem;
}
.text-stud{
  font-size: 2rem;
  text-align: center;
}
.stud-dash div{
  width: 95%;
}

/* post-doubt */
.doubt-post{
  margin-top: 5rem;
  top: 50%;
}
.form-doubt{
  width: 90%;
}
.forms{
  width: 90%;
}
.forms img{
  width: 80%;
}
.post-show{
  left: 30vw;
}
/* chatTeach */
.chat-nav{
  display: block;
}
.chat-nav1{
  display: none;
}
.chatTeach-main{
  display: flex;
  flex-direction: column;
}
.chat-mid{
  width: 100%;
  display: none;
}
.extra-div{
  display: none;
}
.messages{
  display: none;
  width: 100%;
  /* display: flex; */
}
.messages1{
  width: 100%;
  /* display: flex; */
}
.chat-mid1{
  width: 100%;
}
.chat1{
  width: 100%;
  /* display: none; */
}
.chat{
  display: none;
}
.back{
  display: block;
}
.ran-nav{
  display: none;
}
.chatNav{
  display: none;
}
.chatMid{
  display: none;
}
.mainChat{
  display: none;
}
/* .post-options{
  width: 40%;
} */
}
@media  screen and (max-width: 380px){
  .signteach{
    height: 180vh;
  }
  /* .accept{
    height: 127vh;
  } */
}
